= provide :title, 'Sobre'

.container
  .row
    .col-md-12
      .col-md-8{class: 'col-md-offset-2'}
        .col-md-12{class: 'text-center'}
          %h2{class: 'bold'} Sobre o SantiagoTech
          %br
          %p O SantiagoTech e um desses recursos "O que eu gostária de ter aprendido". Nem todo mundo tem acesso a uma educação em ciencia da computação ou aos fundos para frequentar uma escola intensiva de codificação e nenhum deles é adequado para todos, de qualquer maneira. Este projeto é projetado para preencher a lacuna para pessoas que estão tentando aprender por conta própria, mas ainda querem ume educação de alta qualidade.
        
        .col-md-12{style: 'margin-top: 20px; margin-bottom: 20px;'}
          %h3{class: 'bold text-center'} Nossos Beneficios
          %p{class: 'text-center'} Acompanhe abaixo todos os nossos beneficios.
          %br

        .col-md-12{style: 'padding: 20px;'}
          .media
            .media-left
            .media-body
              %h4{class: 'media-heading bold'} Educação deve ser gratuita e acessivel.
              %p Este curriculo é gratuito e tentamos vincular a recursos que são gratuitos para que qualquer pessoa possa usá-lo.

        .col-md-12{style: 'padding: 20px;'}
          .media
            .media-left
            .media-body
              %h4{class: 'media-heading bold'} Você aprende melhor construindo de verdade.
              %p O curriculo SantiagoTech é repleto de projetos que ajudarão você a construir um forte portifólio de trabalho no Github para preencher seu curriculo.

        .col-md-12{style: 'padding: 20px;'}
          .media
            .media-left
            .media-body
              %h4{class: 'media-heading bold'} A Motivação é alimentada pelo trabalho com os outros.
              %p Temos o compromisso de conectar os alunos para que eles possam se manter motivados a aprender mais rápido.
        
        .col-md-12{style: 'padding: 20px;'}
          .media
            .media-left
            .media-body
              %h4{class: 'media-heading bold'} Open Source é o melhor.
              %p Nosso curriculo e website estão disponiveis no Github e incentivamos os alunos a contribuirem com o projeto em si.

.container
  .row
    .col-md-12
      .col-md-6
        .jumbotron{style: 'height: 250px;'}
      .col-md-6{class: 'text-center'}
        %h2{class: 'bold'} Deseja entrar em contato?
        %br
        %p Conect-se com nossa comunidade amigavel no Discord, plataforma de<br> chat e networking ou nos envie um e-mail.
        %br
        =link_to 'Converse no Discord', 'https://discordapp.com/invite/2GMFNYT', target: '_blank', class: 'btn btn-primary btn-lg top'
      
      .col-md-12{class: 'text-center', style: 'margin-top: 50px; margin-bottom: 50px;'}
        %h2 Ajude o Projeto <a href='#'>SantiagoTech</a> a manter-se atualizado e significativo para todos os futuros alunos, contribua por favor.