= provide :title, 'Contribua'

.container{style: 'margin-top: 30px;'}
  .row 
    .col-md-12
      .col-md-8{class: 'col-md-offset-2'}
        %h2{class: 'bold text-center'} Como Contribuir
        %br
        %p{class: 'text-center'} O Santiagotech é um projeto de código aberto, construido e mantido por voluntários que dedicam seu tempo e habilidade para tornar o projeto uma das melhores platafromas de educação da web. Estamos sempre trabalhando em projetos para melhorar a plataforma e esta

        %br
        %h4{class: 'bold text-center'} A duas maneiras que você pode contribuir
        %br

        .col-md-6
          .panel{class: 'panel panel-default text-center', style: 'padding: 20px;'}
            %h4{class: 'bold'} Contribua para a Grade
            %br
            %p O curriculo consiste nas lições e projetos deste site. Estamos constantemente expandindo e atualizando o currículo para mantê-lo atualizado para garantir que ele atenda às necessidades de nossos alunos no mundo em constante mudança do desenvolvimento web. Nosso objetivo é criar o melhor curso gratuito de desenvolvimento web do mundo, e todos são bem-vindos para participar e nos ajudar a lutar por esse objetivo.
            %br
            %br
            =link_to 'Ver no Github', '', class: 'btn btn-primary btn-lg top'

        .col-md-6
          .panel{class: 'panel panel-default text-center', style: 'padding: 20px;'}
            %h4{class: 'bold'} Contribua para o Site principal
            %br
            %p O site em que você está agora é um aplicativo Ruby on Rails, estamos sempre trabalhando em novos recursos que melhoram a plataforma e ajudam os alunos em sua jornada de aprendizado. Como em qualquer projeto de código aberto, há também uma lista de pendências constante de problemas e bugs pendentes que precisam ser corrigidos. Qualquer pessoa é bem-vinda para participar e começar a trabalhar em qualquer um dos problemas que atualmente postamos no repositório do Github para o Site.
            =link_to 'Ver no Github', '', class: 'btn btn-primary btn-lg top'

.container
  .row
    .col-md-12
      %h2{class: 'bold text-center'} Hall da Fama
      %br
      %p{class: 'text-center'} Os membros do Hall da Fama são os  desenvolvedores que construiram<br> o projeto SantiagoTech, no site que você ve antes de atual agora.
      %br
    
      - for i in 1..21
        .col-md-2
          .jumbotron
      
    .col-md-12{class: 'text-center'}
      =link_to 'Ver todos os Contribuidores', ''
      %br

      %h2{class: 'bold'} Ainda com duvidas?
      %p Encontre a resposta para sua duvida em nossa comunidade no <a href='https://discord.gg/2GMFNYT'>Discord</a>
      =link_to 'Ir para comunidade', 'https://discord.gg/2GMFNYT', class: 'btn btn-primary btn-lg top', target: '_blank'