.jumbotron
  .container
    .row
      .col-md-12{class: 'text-center'}
        %h2{class: 'bold'} Sua carreria de Desenvolvedor começa aqui.
        %p Do Básico ao Avançado, mantido por uma comunidade apaixonada.
        %button{class: 'btn btn-primary btn-lg top'} Ver grade toda

#how-it-work
  .container
    .row
      .col-md-12
        .col-md-4{class: 'col-md-offset-4 text-center'}
          %h3{class: 'bold'} Como funciona?
          %p Esse é o site que nós desejavamos quando nós estavamos aprendendo por nosso esforço próprio
        
        .col-md-4

      .col-md-4{class: 'text-center'}
        %h1 <i class='glyphicon glyphicon-search'></i>
        %h3{class: 'bold'} Aprenda
        %p Aprenda com nossa grade, composta pelos melhores recursos, desafios e projetos.

      .col-md-4{class: 'text-center'}
        %h1 <i class='glyphicon glyphicon-search'></i>
        %h3{class: 'bold'} Crie
        %p Aprenda com nossa grade, composta pelos melhores recursos, desafios e projetos.

      .col-md-4{class: 'text-center'}
        %h1 <i class='glyphicon glyphicon-search'></i>
        %h3{class: 'bold'} Compartilhe
        %p Aprenda com nossa grade, composta pelos melhores recursos, desafios e projetos.

.jumbotron
  .container
    .row
      .col-md-12
        %h2{class: 'bold'} Aprenda tudo o que necessita para ser um desenvolvedor Web.
        %br

      .col-md-12
        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} HTML + CSS

        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} JAVASCRIPT
    
        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} GIT

        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} BANCO DE DADOS

        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} RUBY
    
        .col-md-4
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} RUBY ON RAILS
  
        .col-md-4{class: 'col-md-offset-4'}
          .panel.panel-default{class: 'text-center', style: 'padding: 20px;'}
            %h1{class: 'bold'} <i class='glyphicon glyphicon-search'></i> 
            %h4{class: 'bold'} RUBY ON RAILS

      .col-m-4{class: 'col-md-offset-4'}
        %button{class: 'btn btn-primary btn-lg top'} Ver Grade

#histories
  .container
    .row
      .col-md-12
        %h1{class: 'bold text-center'} Histórias de Sucesso.
        %p{class: 'text-center'} Acompanhe as historias de sucesso de nosso projeto.
        %br

      .col-md-6{class: 'padding: 5px;'}
        .media
          .media-left
            =image_tag('', class: 'media-object', style: 'width: 34px; height: 34px; background-color: #EEE;')
          .media-body
            %h4{class: 'media-heading'}=link_to 'Rob Pando'
            %p Esse curso mudou minha vida totalmente.

      .col-md-6{style: 'padding: 5px;'}
        .media
          .media-left
            =image_tag('', class: 'media-object', style: 'width: 34px; height: 34px; background-color: #EEE;')
          .media-body
            %h4{class: 'media-heading'}=link_to 'Olivia Ester'
            %p Esse curso mudou minha vida totalmente.

      .col-md-6{style: 'padding: 20px;'}
        .media
          .media-left
            =image_tag('', class: 'media-object', style: 'width: 34px; height: 34px; background-color: #EEE;')
          .media-body
            %h4{class: 'media-heading'}=link_to 'Cody Lyod'
            %p Esse curso mudou minha vida totalmente.

      .col-md-6{style: 'padding: 5px;'}
        .media
          .media-left
            =image_tag('', class: 'media-object', style: 'width: 34px; height: 34px; background-color: #EEE;')
          .media-body
            %h4{class: 'media-heading'}=link_to 'William Kennedy'
            %p Esse curso mudou minha vida totalmente.


      .col-md-6