= provide :title, 'Termos de Uso'

.container{style: 'margin-top: 50px;'}
  .row
    .col-md-12
      .col-md-8{class: 'col-md-offset-2 panel panel-default', style: 'padding: 20px;'}
        %h1{class: 'text-center'} Termos de Uso
        %br
        
        .col-md-12
          %h3{class: 'bold'} Preambulo
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12 
          %h3{class: 'bold'} Aceitação dos Termos de Uso
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 

        .col-md-12
          %h3{class: 'bold'} Mudança nos Termos de Uso
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Descrição da Plataforma
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Projeto SantiagoTech
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Uso da Plataforma
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Reportando Infringimentos da Regras
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Web Services e Serviços Tercerizados
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Bloqueando e Removendo Conteudo
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Infrigimentos Repetitivos
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 

        .col-md-12
          %h3{class: 'bold'} Aviso Legal
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Limitação de Responsabilidade
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} Indenização
          %p Welcome to The Odin Project, a service provided by The Odin Project (“The Odin Project”, “The Project”, “Odin 
        
        .col-md-12
          %h3{class: 'bold'} 