/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';


 body {
   position: relative;
   font-family: 'Montserrat', sans-serif, arial, serif;
   font-size: 16px; 
 }

.navbar-default {
  position: relative;
  background-color: #FFF;
  
  .navbar-brand {
   position: relative;
   text-weight: bold;
   tex-transform: uppercase !important;
  }

  a {
   position: relative;
   font-weight: bold;
   font-size: 18px;
  }
}

 .bold {
  position: relative;
  font-weight: bold;
 }

 footer {
   background-color: #FFF !important; 
   margin-bottom: 0px !important;
   padding-bottom: 30px;

   h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
   }

   i {
    margin-top: 40px;
    position: relative;
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px; 
   }

   a {
    color: #999; 
    position: relative;
    font-weight: bold;
   }
 }