%footer{class: 'jumbotron'}
  .container
    .row
      .col-md-12
        .col-md-4
          %h2{class: 'bold'} Santiago Tech
          %p Sua jornada começa aqui.

        .col-md-4{class: 'text-center'}
          %ul{class: 'list-inline list-unstyled'}
            %li <a href='http://bit.ly/30dI6y9' target='_blank'><i class="fab fa-github"></i></a>
            %li <a href='https://discord.gg/2GMFNYT' target='_blank'><i class="fab fa-discord"></i></a>
            %li <a href='https://discord.gg/2GMFNYT' target='_blank'><i class="fab fa-facebook-square"></i></a>
            %li <a href='http://bit.ly/2Jz8kFu' target='_blank'><i class="fab fa-twitter"></i></a>
            %li <a href='http://bit.ly/2YmN2io' target='_blank'><i class="fab fa-instagram"></i></a>

        .col-md-4
          .col-md-6
            %ul{class: 'list-unstyled'}
              %li=link_to 'Home',  root_path
              %li=link_to 'Sobre', about_path
              %li=link_to 'FAQ',   faq_path
              %li=link_to 'Blog', 'http://bit.ly/2Q2wmJY'

          .col-md-6
            %ul{class: 'list-unstyled'}
              %li=link_to 'Historias de sucesso', '#'
              %li=link_to 'Contribua', contributing_path
              %li=link_to 'Termos de uso', terms_of_use_path